{{define "article-bodymind"}}
<div class="bodymind-article">
    {{with .FormattedContent}}
    <h3 class="bodymind-headline">{{.headline}}</h3>
    <!-- {{if .byline}} -->
    <!-- <p class="bodymind-byline">{{.byline}}</p> -->
    <!-- {{end}} -->
    
    {{if .question}}
    <div class="bodymind-question">
        <div class="question-icon">💭</div>
        <blockquote>{{safeHTML .question}}</blockquote>
    </div>
    {{end}}
    
    {{if .response}}
    <div class="bodymind-response">
        <p>{{safeHTML .response}}</p>
    </div>
    {{end}}
    
    {{if .signoff}}
    <div class="bodymind-signoff">
        <p><em>{{safeHTML .signoff}}</em></p>
    </div>
    {{end}}
    {{end}}
</div>
{{end}}
